.DS_Store
\.idea/\.idea\.blockchain-starter-kit/\.idea/contentModel\.xml

\.idea/\.idea\.blockchain-starter-kit/\.idea/indexLayout\.xml

\.idea/\.idea\.blockchain-starter-kit/\.idea/modules\.xml

\.idea/\.idea\.blockchain-starter-kit/\.idea/vcs\.xml

\.idea/\.idea\.blockchain-starter-kit/riderModule\.iml

blockchain-starter-kit\.sln
